<form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" novalidate autocomplete="off">
  <div class="mb-3">
    <label class="form-label">Student Photo</label>
    <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
    
     <div class="mt-3 text-center">
      <img 
        [src]="imgPreview || service.getImageSourceUrl(service.formData.imgPath)" 
        alt="Student Avatar" 
        class="img-thumbnail" 
        style="max-height: 150px; width: 150px; object-fit: cover;">
     </div>

  </div>
  <input type="hidden" name="studentDetailId" [value]="service.formData.studentDetailId">
  <div class="mb-3">
    <label>FullName</label>
    <input class="form-control form-control-lg" placeholder="FullName" #studentFullName="ngModel" name="studentFullName"
      [(ngModel)]="service.formData.studentFullName" required>
  </div>
  <div class="mb-3">
    <label>Card Number</label>
    <input class="form-control form-control-lg" placeholder="16 Digit Card Number" #inscriptionCardNumber="ngModel"
      name="inscriptionCardNumber" [(ngModel)]="service.formData.inscriptionCardNumber" required minlength="16" maxlength="16">
  </div>

  <div class="row">
    <div class="mb-3 col-6">
      <label>Age</label>
      <input class="form-control form-control-lg" placeholder="AA" #age="ngModel"
        name="age" [(ngModel)]="service.formData.age" required minlength="2" maxlength="2">
    </div>
     <div class="mb-3 col-6">
      <label>Valid Through</label>
      <input class="form-control form-control-lg" placeholder="MM/YY" #expirationCardDate="ngModel" name="expirationCardDate"
        [(ngModel)]="service.formData.expirationCardDate" required minlength="5" maxlength="5">
    </div> 
  </div>
  <div class="d-grid">
    <button class="btn btn-lg btn-success" type="submit">
      Submit
    </button>
  </div>

</form>
